.app-dashboard {
    height: 100%;

    &__menu {
        display: flex;
        justify-content: space-between;
        height: 150px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__button {
        background-color: $screen-bcg-color;
        border: 1px dashed $msg-sucs-color;
        color: $msg-sucs-color;
        padding: 20px 5px 0;
        width: 16%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 200ms;
        text-align: center;

        i {
            font-size: 60px;
        }

        &:hover {
            color: $accent-color;
            border-color: $accent-color;
        }
    }

    &__description {
        margin-top: 10px;
        font-size: $m-font-size;
    }

    &__message-box {
        width: 65%;
    }

    &__message {
        background-color: $screen-bcg-color;
        border: 1px dashed transparent;
        font-size: $m-font-size;
        font-weight: bold;
        position: relative;
        padding: 5px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &--succes {
            color: $msg-sucs-color;
            border-color: $msg-sucs-color;
        }

        &--info {
            color: $msg-info-color;
            border-color: $msg-info-color;
        }

        &--warning {
            color: $msg-warn-color;
            border-color: $msg-warn-color;
        }
    }

    &__icon {
        font-size: $xl-font-size;
        margin-right: 15px;
    }

    &__table-box {
        width: 100%;
        background-color: $screen-bcg-color;
        border: 1px dashed $app-dotted-brd-color;
        padding: 5px 30px;
        height: calc(100% - 150px - 20px);
    }

    &__header {
        font-size: $m-font-size;
        color: $accent-color;
        text-align: center;
        border-bottom: 1px solid $app-dotted-brd-color;
        padding-bottom: 5px;
    }

    .table {
        height: calc(100% - 60px);
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        color: $aside-bcg-color;
        font-size: $s-font-size;
        cursor: pointer;
    }

    &__nav-button {
        transition: all 200ms;

        &:hover {
            color: $accent-color;
        }
    }
}
