$aside-bcg-color: #5B605F; //panel boczny, nawigacja
$logo-color: #E58A20; //logo kolor
$header-bcg-color: #4a4a49; //nagłówek, kolor tekstu w kolumnach
$accent-color: #FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$screen-bcg-color: #FFFFFA; //kolor tła ekranów
$msg-info-color: #3498DB; //kolor wiadomości typu info,
$msg-warn-color: #FFB03B; //kolor wiadomości typu warning
$msg-sucs-color: #468966; //kolor wiadomości typu success
$trash-color: #BD4932; //kolor ikony kosza
$tbl-txt-color: #A1A194; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$app-head-brd-color: #383838;
$app-dotted-brd-color: #a1a194;
