.header {
    padding: 10px 0 5px;
    background-color: $header-bcg-color;

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        font-family: $logo-font-family;
        font-weight: 400;
        font-size: $xxl-font-size;
        color: white;
    }

    &__decor {
        font-weight: 700;
        color: $accent-color;
    }
}
