.cta {
    background-color: $header-bcg-color;
    padding: 60px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        padding-right: 75px;
        color: white;
    }

    &__title {
        font-size: $xl-font-size;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__text {
        font-size: $l-font-size;
    }
}
