.about-me {
    display: flex;
    align-items: flex-start;
    padding: 60px;

    &__frame {
        width: 35%;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__description {
        width: 65%;
        padding-left: 50px;
    }

    &__title {
        font-size: $xl-font-size;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__text {
        font-size: $l-font-size;
    }
}
