.button {
    color: white;
    font-size: $m-font-size;
    border: none;
    background-color: $accent-color;
    cursor: pointer;
    padding: 15px 40px;
    position: relative;
    transition: all 200ms;

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        left: 50%;
        bottom: 0;
        background-color: $accent-color;
        transition: all 200ms;
        transition-delay: 100ms;
    }

    &:hover {
        color: $accent-color;
        background-color: white;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.button-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    height: 15px;
    width: 15px;
    background-color: black;
    font-size: 10px;
    color: white;
    cursor: pointer;
    transition: all 200ms;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--succes {
        background-color: $msg-sucs-color;
    }

    &--warning {
        background-color: $msg-warn-color;
    }

    &--info {
        background-color: $msg-info-color;
    }

    &:hover {
        background-color: $accent-color;
    }
}

.button-delete,
.button-edit {
    color: $aside-bcg-color;
    margin-left: 5px;
    cursor: pointer;
    transition: all 200ms;
}

.button-edit {

    &:hover {
        color: $msg-warn-color;
    }
}

.button-delete {

    &:hover {
        color: red;
    }
}
