.news {
    background-color: $header-bcg-color;
    height: 150px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__text {
        color: white;
        font-weight: 400;
        font-size: 36px;
        padding-right: 20px;
    }

    &__form {
        display: flex;
    }

    &__input {
        border: none;
        padding: 0 10px;
        width: 250px;
        font-size: $regular-font-size;
    }

    .button {
        font-size: 20px;
        font-weight: 700;
    }
}
