@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:300,400,600,700&subset=latin-ext');

$text-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$logo-font-family: "Charmonman", Helvetica, Arial, sans-serif;
$xs-font-size: 12px;
$s-font-size: 14px;
$m-font-size: 18px;
$l-font-size: 20px;
$xl-font-size: 30px;
$xxl-font-size: 40px;
